.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #f9fafb;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
}

.messageBox {
  color: #f9fafb;
  background-color: #111827;
  border-width: 2px;
  border-color: #f9fafb;
  border-style: solid;
  padding: 8px;
  margin-top: 16px;
  border-radius: 9999px;
}

.message {
  color: #f9fafb;
  background-color: #111827;
  border-width: 2px;
  border-color: #f9fafb;
  border-style: solid;
  padding: 8px;
  margin-top: 24px;
  border-radius: 10px;
}

.textBox {
  color: #f9fafb;
  background-color: #111827;
  border-width: 2px;
  border-color: #f9fafb;
  border-style: solid;
  padding: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 9999px;
}

.ownerForm {
}

.ownerSettings {
  display: flex;
  flex-direction: column;
}

.ownerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteButton {
  float: right;
  background-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
