.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #F9FAFB;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
}

.messageBox {
  color: #F9FAFB;
  background-color: #111827;
  border-width: 2px;
  border-color: #F9FAFB;
  border-style: solid;
  padding: 8px;
  margin-top: 16px;
  border-radius: 9999px;
}

.message {
  color: #F9FAFB;
  background-color: #111827;
  border-width: 2px;
  border-color: #F9FAFB;
  border-style: solid;
  padding: 8px;
  margin-top: 24px;
  border-radius: 10px;
}