html {
  color: #f9fafb;
  background-color: #111827;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}
button {
  color: #f9fafb;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #ff6188;
  border-radius: 9999px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
